@model WebAppERP.Models.WorkOrder

@{
    ViewData["Title"] = "Tạo Lệnh sản xuất mới";
}

<h1 class="display-6">@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="form-group mb-3">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="QuantityToProduce" class="control-label"></label>
                <input asp-for="QuantityToProduce" class="form-control" />
                <span asp-validation-for="QuantityToProduce" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" type="date" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Tạo mới</button>
                <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}